<h1> Meet Your New Puppy!</h1>

<head>
  <title>My puppy!!</title>
  

<body>
  <p>Puppy Name: <%= @puppy.name %></p>
  <p>Puppy Breed: <%= @puppy.breed %></p>
  <p>Puppy Age: <%= @puppy.age %> months</p>
</body>
